<% if local_track %>
  <span class="badge text-bg-secondary">in Musicnet</span>
<% else %>
  <%= button_to "Herunterladen", import_from_spotify_tracks_path(spotify_track_id: spotify_track_id),
        method: :post, class: "btn btn-sm btn-outline-secondary" %>
<% end %>
