<table class="table caption-top">
  <caption>Tracks</caption>
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Dauer</th>
    <th scope="col">Bekanntheit</th>
    <th scope="col">Energie</th>
    <th scope="col">Tempo</th>
    <th scope="col">Künstler</th>
    <th scope="col">Album Name</th>
    <th scope="col">Release Date</th>
    <th scope="col">Playlists</th>
  </tr>
  </thead>
  <tbody>
  <%= render tracks %>
  </tbody>
</table>