<h1><%= @artist.name %></h1>

<%= render 'tracks/tracks', tracks: @artist.tracks %>


<table class="table caption-top">
  <caption>Alben</caption>
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Release Date</th>
    <th scope="col">Bekanntheit</th>
    <th scope="col">Tracks</th>
    <th scope="col">URL</th>
    <th scope="col">Künstler</th>
    <%# p.album.genres.join(", ") Teuer!!%>
  </tr>
  </thead>
  <tbody>
  <%= render @artist.albums %>
  </tbody>
</table>

