<h1><%= @artist.name %></h1>

<%= render 'tracks/tracks', tracks: @tracks %>

<h2 class="mt-4">Alben</h2>
<div class="table-responsive rounded border">
  <table class="table table-hover align-middle mb-0 table-tracks table-tracks-detailed">
    <thead class="table-light">
    <tr>
      <th scope="col" style="width: 30%;">Name</th>
      <th scope="col">Release Date</th>
      <th scope="col">Bekanntheit</th>
      <th scope="col">Tracks</th>
      <th scope="col">Künstler</th>
      <th scope="col">Spotify</th>
    </tr>
    </thead>
    <tbody>
    <%= render @albums %>
    </tbody>
  </table>
</div>

