<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Sichtbarkeit</th>
    <th scope="col">Anzahl Tracks</th>
    <th scope="col">Bibliotheken</th>
    <th scope="col">Playlist-Name</th>
  </tr>
  </thead>
  <tbody>
  <%= render @playlists %>
  </tbody>
</table>