<table class="table">
  <thead>
  <tr>
    <th scope="col"
        id="playlists-name"
        data-reflex="click->Table#sort"
        data-column="name"
        data-direction="asc"
    >
      Name
    </th>
    <th scope="col">Sichtbarkeit</th>
    <th scope="col">Anzahl Tracks</th>
    <th scope="col">Download</th>
  </tr>
  </thead>
  <tbody>
  <%= render @playlists %>
  </tbody>
</table>