<h1>Meine Playlists</h1>

<ul>
  <%= render partial: 'playlist', collection: @playlists %> <%# der Shorthand render @playlists geht nicht, da playlist "is not an ActiveModel-compatible object. It must implement :to_partial_path."  %>
</ul>