<h1>Meine Playlists</h1>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Sichtbarkeit</th>
    <th scope="col">Anzahl</th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'playlist', collection: @playlists %> <%# der Shorthand render @playlists geht nicht, da playlist "is not an ActiveModel-compatible object. It must implement :to_partial_path."  %>
  </tbody>
</table>