
<h1><%= @playlist.name %></h1>

<div>  <%= link_to("Download Tracks", download_playlist_path(@playlist.id)) %>
</div>
<table class="table caption-top">
  <caption>Einträge</caption>
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Dauer</th>
    <th scope="col">hinzugefügt</th>
    <th scope="col">Genre</th>
    <th scope="col">Bekanntheit</th>
    <th scope="col">Energie</th>
    <th scope="col">Tempo</th>
    <th scope="col">Künstler</th>
    <th scope="col">Albumname</th>
    <th scope="col">Release Datum</th>
    <%# p.album.genres.join(", ") Teuer!!%>
  </tr>
  </thead>
  <tbody>
    <%= render @playlist.playlist_tracks %>
  </tbody>
</table>
