
<h1><%= @playlist.name %></h1>
<table class="table caption-top">
  <caption>Einträge</caption>
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Dauer</th>
    <th scope="col">hinzugefügt</th>
    <th scope="col">Bekanntheit</th>
    <th scope="col">Künstler</th>
    <th scope="col">Albumname</th>
    <th scope="col">Release Datum</th>
    <%# p.album.genres.join(", ") Teuer!!%>
  </tr>
  </thead>
  <tbody>
    <%= render @playlist.playlist_tracks %>
  </tbody>
</table>
